[Unit]
Description=RClone Mount Service Encrypted Google drive (Optimized)
After=network-online.target
Wants=network-online.target

[Service]
Type=notify
User=soul
Group=soul

# Performance and Battery Optimized Command
ExecStart=/bin/rclone mount GoogleDrive:  /home/soul/02_Resources/01_Mounts/GoogleDrive \
    --config /home/soul/.config/rclone/rclone.conf \
    --vfs-cache-mode full \
    --vfs-cache-max-age 24h \
    --vfs-cache-max-size 10G
    --dir-cache-time 72h \
    --log-level INFO \
    --log-file /home/soul/02_Resources/97_Logs/rclone/rclone-mount-gdrive.log



# Clean shutdown and unmount
ExecStop=/bin/fusermount -uz /home/soul/02_Resources/01_Mounts/EncryptGoogleDrive
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target
