 /* ---- 💫 https://github.com/LinuxBeginnings 💫 ---- */  
 /* wallust template - colors-rofi */

* {
active-background: #5C777E;
active-foreground: #DBEBEB;
normal-background: #242528;
normal-foreground: #DBEBEB;
urgent-background: #6D8E9D;
urgent-foreground: #DBEBEB;

alternate-active-background: #5E7481;
alternate-active-foreground: #DBEBEB;
alternate-normal-background: #242528;
alternate-normal-foreground: #DBEBEB;
alternate-urgent-background: #242528;
alternate-urgent-foreground: #DBEBEB;

selected-active-background: #6D8E9D;
selected-active-foreground: #DBEBEB;
selected-normal-background: #6D8E9D;
selected-normal-foreground: #DBEBEB;
selected-urgent-background: #6D8E9D;
selected-urgent-foreground: #DBEBEB;

background-color: #242528;
background: rgba(0,0,0,0.7);
foreground: #DBEBEB;
border-color: #5C777E;

color0: #494B4E;
color1: #283A44;
color2: #374754;
color3: #465761;
color4: #455A5F;
color5: #526A76;
color6: #729494;
color7: #C3DADA;
color8: #899899;
color9: #364D5B;
color10: #495E6F;
color11: #5E7481;
color12: #5C777E;
color13: #6D8E9D;
color14: #98C5C6;
color15: #C3DADA;


}

