 /* ---- 💫 https://github.com/LinuxBeginnings 💫 ---- */  
 /* wallust template - colors-rofi */

* {
active-background: #84D8FC;
active-foreground: #D6F5FE;
normal-background: #171616;
normal-foreground: #D6F5FE;
urgent-background: #87DDFE;
urgent-foreground: #D6F5FE;

alternate-active-background: #83D3F8;
alternate-active-foreground: #D6F5FE;
alternate-normal-background: #171616;
alternate-normal-foreground: #D6F5FE;
alternate-urgent-background: #171616;
alternate-urgent-foreground: #D6F5FE;

selected-active-background: #87DDFE;
selected-active-foreground: #D6F5FE;
selected-normal-background: #87DDFE;
selected-normal-foreground: #D6F5FE;
selected-urgent-background: #87DDFE;
selected-urgent-foreground: #D6F5FE;

background-color: #171616;
background: rgba(0,0,0,0.7);
foreground: #D6F5FE;
border-color: #84D8FC;

color0: #3E3D3D;
color1: #4E696B;
color2: #5F8DA3;
color3: #639FBA;
color4: #63A2BD;
color5: #65A6BE;
color6: #67A9BC;
color7: #BCE8F4;
color8: #83A2AB;
color9: #688C8F;
color10: #7EBDDA;
color11: #83D3F8;
color12: #84D8FC;
color13: #87DDFE;
color14: #8AE2FB;
color15: #BCE8F4;


}

