 /* ---- 💫 https://github.com/LinuxBeginnings 💫 ---- */  
 /* wallust template - colors-rofi */

* {
active-background: #F5E6F9;
active-foreground: #FBF8FD;
normal-background: #1A171D;
normal-foreground: #FBF8FD;
urgent-background: #F5E8F8;
urgent-foreground: #FBF8FD;

alternate-active-background: #F7DEF9;
alternate-active-foreground: #FBF8FD;
alternate-normal-background: #1A171D;
alternate-normal-foreground: #FBF8FD;
alternate-urgent-background: #1A171D;
alternate-urgent-foreground: #FBF8FD;

selected-active-background: #F5E8F8;
selected-active-foreground: #FBF8FD;
selected-normal-background: #F5E8F8;
selected-normal-foreground: #FBF8FD;
selected-urgent-background: #F5E8F8;
selected-urgent-foreground: #FBF8FD;

background-color: #1A171D;
background: rgba(0,0,0,0.7);
foreground: #FBF8FD;
border-color: #F5E6F9;

color0: #423E44;
color1: #B6A4B9;
color2: #B9A6BD;
color3: #B9A7BB;
color4: #B7ADBB;
color5: #B8AEBA;
color6: #B8AFBB;
color7: #F1ECF3;
color8: #A9A5AA;
color9: #F2DBF6;
color10: #F7DEFB;
color11: #F7DEF9;
color12: #F5E6F9;
color13: #F5E8F8;
color14: #F5EAF9;
color15: #F1ECF3;


}

