 /* ---- 💫 https://github.com/JaKooLit 💫 ---- */  
 /* wallust template - colors-rofi */

* {
active-background: #C0C7D4;
active-foreground: #F1F3F7;
normal-background: #000006;
normal-foreground: #F1F3F7;
urgent-background: #D7DDE9;
urgent-foreground: #F1F3F7;

alternate-active-background: #A9B0BF;
alternate-active-foreground: #F1F3F7;
alternate-normal-background: #000006;
alternate-normal-foreground: #F1F3F7;
alternate-urgent-background: #000006;
alternate-urgent-foreground: #F1F3F7;

selected-active-background: #D7DDE9;
selected-active-foreground: #F1F3F7;
selected-normal-background: #D7DDE9;
selected-normal-foreground: #F1F3F7;
selected-urgent-background: #C0C7D4;
selected-urgent-foreground: #F1F3F7;

background-color: #000006;
background: rgba(0,0,0,0.7);
foreground: #F1F3F7;
border-color: #C0C7D4;

color0: #131418;
color1: #5C626F;
color2: #6D737F;
color3: #7E848F;
color4: #90959F;
color5: #A1A6AF;
color6: #A1A6AF;
color7: #E3E6EC;
color8: #9FA1A5;
color9: #7A8394;
color10: #919AA9;
color11: #A9B0BF;
color12: #C0C7D4;
color13: #D7DDE9;
color14: #D7DDE9;
color15: #E3E6EC;


}

