 /* ---- 💫 https://github.com/JaKooLit 💫 ---- */  
 /* wallust template - colors-rofi */

* {
active-background: #B8B2BC;
active-foreground: #E2F0FD;
normal-background: #120000;
normal-foreground: #E2F0FD;
urgent-background: #B5B7C3;
urgent-foreground: #E2F0FD;

alternate-active-background: #CE9388;
alternate-active-foreground: #E2F0FD;
alternate-normal-background: #120000;
alternate-normal-foreground: #E2F0FD;
alternate-urgent-background: #120000;
alternate-urgent-foreground: #E2F0FD;

selected-active-background: #B5B7C3;
selected-active-foreground: #E2F0FD;
selected-normal-background: #B5B7C3;
selected-normal-foreground: #E2F0FD;
selected-urgent-background: #B8B2BC;
selected-urgent-foreground: #E2F0FD;

background-color: #120000;
background: rgba(0,0,0,0.7);
foreground: #E2F0FD;
border-color: #B8B2BC;

color0: #120000;
color1: #5B6579;
color2: #AD533A;
color3: #9A6E66;
color4: #8A868D;
color5: #888992;
color6: #829FBB;
color7: #CEE1F4;
color8: #909EAA;
color9: #7987A1;
color10: #E76E4E;
color11: #CE9388;
color12: #B8B2BC;
color13: #B5B7C3;
color14: #ADD4F9;
color15: #CEE1F4;


}

