 /* ---- 💫 https://github.com/JaKooLit 💫 ---- */  
 /* wallust template - colors-rofi */

* {
active-background: #829375;
active-foreground: #F8F1DE;
normal-background: #201F1F;
normal-foreground: #F8F1DE;
urgent-background: #E58250;
urgent-foreground: #F8F1DE;

alternate-active-background: #5B5949;
alternate-active-foreground: #F8F1DE;
alternate-normal-background: #201F1F;
alternate-normal-foreground: #F8F1DE;
alternate-urgent-background: #201F1F;
alternate-urgent-foreground: #F8F1DE;

selected-active-background: #E58250;
selected-active-foreground: #F8F1DE;
selected-normal-background: #E58250;
selected-normal-foreground: #F8F1DE;
selected-urgent-background: #829375;
selected-urgent-foreground: #F8F1DE;

background-color: #201F1F;
background: rgba(0,0,0,0.7);
foreground: #F8F1DE;
border-color: #829375;

color0: #464546;
color1: #191719;
color2: #1C1A1C;
color3: #444337;
color4: #626E58;
color5: #AC623C;
color6: #B0A278;
color7: #ECE3C7;
color8: #A59F8B;
color9: #221E21;
color10: #252325;
color11: #5B5949;
color12: #829375;
color13: #E58250;
color14: #EAD8A0;
color15: #ECE3C7;


}

